@model NixTrenProperty.ViewModels.EditUserViewModel
@{
    
}
<form method="post" asp-action="Edit" asp-controller="UsersControl">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input type="text" asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        @Html.CheckBox("Rieltor", false)
        <label class="form-check-label">Rieltor</label>
    </div>

   
    @*<div class="form-group">
            <label asp-for="Rieltor" class="control-label">Seller/Rieltor</label>
            <input type="checkbox" asp-for="Rieltor" class="form-control" />
        </div>*@
    <div class="form-group">
        <label asp-for="Stata.AverageDifPrice" class="control-label">Average Difference Price</label>
        <input type="number" asp-for="Stata.AverageDifPrice" class="form-control" placeholder="1-(Last Price - First Price)*100%" />
    </div>
    <div class="form-group">
        <label asp-for="Stata.AverageTimeOfDeal" class="control-label">Average Time Of Deal</label>
        <input type="number" asp-for="Stata.AverageTimeOfDeal" class="form-control" placeholder="days" />
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-outline-secondary" />
    </div>
</form>