@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row row-cols-1 row-cols-md-2 mb-2 text-center">
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
               
            </div>
        </div>
    </div>
    <div class="card mb-4 rounded-3 shadow-sm text-right">
        <div class="container">
            <div>
               
            </div>
        </div>
    </div>
</div>