@model IEnumerable<OnionApp.Domain.Core.Seller>
@{
   // ViewData["Title"] = "List Seller";
   // Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Property</title>
</head>
<body>
    <h3>Sellers</h3>
    <table>
        <tr>
            <td>Name</td>
            <td>Telephone</td>
            <td>Email</td>
            <td></td>
        </tr>
        @foreach (var sel in Model)
        {
            <tr>
                <td>@sel.Name</td>
                <td>@sel.Telephone</td>
                <td>@sel.Email</td>
                <td><a href="~/Home/GetStatistic/@sel.Id">Statistics</a></td>
            </tr>
        }
    </table>
</body>
</html>