@using NixTrenProperty.ViewModels
@model AdvertViewModel<OnionApp.Domain.Core.Garage>
@{
    Layout = "_Layout";
}

<header>
    <partial name="_BarAll" />
</header>

<body>
    <partial name="_ViewAdvertPartial" />
</body>
