@using NixTrenProperty.ViewModels
@model AdvertViewModel<OnionApp.Domain.Core.Plot>
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<header>
    <partial name="_BarAll" />
</header>

<body>
   <partial name="_ViewAdvertPartial" />
</body>