@model IEnumerable<OnionApp.Domain.Core.User>
@{
    ViewBag.Title = "Список пользователей";
}

<table class="table">
    <tr><th>User name</th><th>Statistic</th><th></th></tr>
    @if (Model != null)
        foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.UserName</td>
                <td>
                    <form asp-action="Inform" asp-route-id="@user.Id" method="post">
                        <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Change</a>
                        <button type="submit" class="btn btn-sm btn-danger">
                            Удалить
                        </button>
                    </form>
                </td>
            </tr>
        }
    else
    {
        <p>No seller yet</p>
    }
</table>